Contact Information - Manvit
<-- Logo - Deep -->
Background - Vicky
Experience (Sorta Resume) - Deep
#-- Merchandise --# - Manvit
Program Types - Rishi
Heading - Manvit
Dropdown Menu - Vicky
Timings - Deep
Options (IP/OL) - Manvit
Pricing - Rishi
Advertising (Flyers) - Rishi
Schedule - Vicky
#-- Sponsor --# - Vicky
About - Rishi
Footer Hyperlinks - Deep
Animation (Transitional) - Vicky
Payment Options (Visa, MasterCard, PayPal) - Manvit
FAQ - Deep
Chatbot - Rishi

NOTE: # = highly unlikely
