h2 {

   text-align: center;
  
  font-family: Helvetica;
  
  font-size: 18px;
  
  color: white;
  
  margin: 50px;
  
  

}



html {

background-image: linear-gradient(to bottom right, red, white);
background-size: 1600px 1000px;


}

label {
    display: block;
    font-family: Helvetica;
}

input,
label {
    margin: .4rem 0;
}

.container {
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 800px;
  font-family: Helvetica;
}
