h2 {

   text-align: center;
  
  font-family: Helvetica;
  
  font-size: 18px;
  
  color: white;
  
  margin: 50px;
  
  

}



html {

background-image: linear-gradient(to bottom right, red, white);
background-size: 1600px 1000px;


}

iframe {

	
}
